.App {
  text-align: center;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 2.5em;
  border: 100;
}

.nav-links {
  font-family: 'Times New Roman', Times, serif;
  background-color: chartreuse;
  opacity: 0.5;
  
}

.home,
.login,
.weather {
  color: darkgreen;
  font-size: 1.5em;
  padding-right: 1em;
}

.sign-up {
  padding-left: 1em;
}

.welcome {
  font-weight: 600;
  font-style: italic;
  font-size: 5rem;
}